<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>mt-demo</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:applicationContext-config.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>mt-demo</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>DemoServlet</display-name>
        <servlet-name>DemoServlet</servlet-name>
        <servlet-class>wang.moshu.message.demo.servlet.DemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemoServlet</servlet-name>
        <url-pattern>/DemoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>MonitorServlet</display-name>
        <servlet-name>MonitorServlet</servlet-name>
        <servlet-class>wang.moshu.message.demo.servlet.MonitorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitorServlet</servlet-name>
        <url-pattern>/MonitorServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PerformanceServlet</display-name>
        <servlet-name>PerformanceServlet</servlet-name>
        <servlet-class>wang.moshu.message.demo.servlet.PerformanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PerformanceServlet</servlet-name>
        <url-pattern>/PerformanceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>BenchimarkServlet</display-name>
        <servlet-name>BenchimarkServlet</servlet-name>
        <servlet-class>wang.moshu.message.demo.servlet.BenchimarkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BenchimarkServlet</servlet-name>
        <url-pattern>/BenchimarkServlet</url-pattern>
    </servlet-mapping>
</web-app>